<div>
  <h3 class="mb-3">Take Operators</h3>
  <p-accordion >

    <p-accordionTab header="Take, Take Until , Take Last And Take While">
      <take-operators></take-operators>
    </p-accordionTab>

    <p-accordionTab header="First, Last And Singler">
      <first-last-operators></first-last-operators>
    </p-accordionTab>

    <p-accordionTab header="Skip, SkipWhile, SkipUntil And SkipLast">
      <skip-operators></skip-operators>
    </p-accordionTab>

    <p-accordionTab header="Scan And Reduce">
     <scan-reduce-operators></scan-reduce-operators>
    </p-accordionTab>
    <p-accordionTab header="ReTry  And ReTryWhen">
      <retry-operators></retry-operators>
    </p-accordionTab>

  </p-accordion>
</div>
