<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="takeOperator()">Take Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="takeUntilOperator()">Take Until Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="stopObs()">Stop Obs</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="takeWhileOperator()">Take While Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="takeLastOperator()">Take last Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="reset()">Reset</button>
<item-list [items]="obsResponse" [listHeader]="listHeader"></item-list>
