<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="skipOperator()">Skip Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="skipUntilOperator()">Skip Until Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="stopObs()">Stop Obs</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="skipWhileOperator()">Skip While Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="skipLastOperator()">Skip last Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="reset()">Reset</button>
<item-list [items]="obsResponse" [listHeader]="listHeader"></item-list>
