/* You can add global styles to this file, and also import other style files */

.active-link{
    color:blue;
}

.p-accordion-header-link{
  text-decoration: none;
}

.p-tree-container{
  padding:0;
}


.code{
  border: 1px solid #8080805e;
  border-radius: 10px;
  background: aliceblue;
}


.child-com{
  border: 2px solid #80808063;
  padding: 15px;
  border-radius: 10px;
  background: antiquewhite;
  margin: 10px 0;
}
