<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="fistOperator()">First Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="fistOperatorNoValue()">First Operator 2</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="lastOperator()">Last Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="lastOperatorNoValue()">Last Operator 2</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="singleOperator()">Single Operator</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="singleOperatorMultipleValue()">Single Operator 2</button>
<button type="button" class="btn btn-primary mt-2 ml-3"  (click)="reset()">Reset</button>
<item-list [items]="obsResponse" [listHeader]="listHeader"></item-list>
